a {
  text-decoration: none;
  transform: translateY(30px);
}

#test {
  transform: translateX(150px) translateY(-73px);
}

.ShareContent {
  display: inline-block;
  margin-bottom: 1px;
}

.ShareLogos {
  width: 30px;
  height: 30px;
  margin: 30px 10px 10px 10px;
  display: inline-block;
  transform: translateX(100px);
}

#Tweet {
  display: inline-block;
  width: 80px;
  border: solid #1da1f2;
  background-color: #1da1f2;
  border-color: solid #1da1f2;
  border-width: 0.5px;
  border-radius: 10px;
}

#TwitterLogo {
  display: inline-block;
  height: 15px;
  width: 15px;
  transform: translateY(-2px) translateX(8px);
}

a #TweetText {
  display: inline-block;
  transform: translateY(-5px);
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  border: transparent;
  margin-left: 17px;
  margin-bottom: 0px;
}

/* Media Queries */

/* Mobile */

@media (min-width: 320px) and (max-width: 850px) {
  .MobileCenter {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    height: 120px;
  }

  .ShareLogos {
    margin: 1px 20px 40px 20px;
    width: 30px;
    height: 30px;
    display: inline;
    transform: translateX(0px);
  }

  #Tweet {
    display: none;
    width: 80px;
    border: solid #1da1f2;
    background-color: #1da1f2;
    border-color: solid #1da1f2;
    border-width: 0.5px;
    border-radius: 10px;
  }
}
