.underline {
  transform: translateY(-150px) translateX(-16px);
  margin: 0px 0px 0px 0px;
  height: 0px;
}

#navItem1 {
  border-bottom: #04151d;
  border-bottom: solid;
  padding: 0 0 2.5px 0;
}

.wholePage {
  margin: 100px 0 0 0;
  background-color: white;
}

.readersManual {
  padding: 15px;
  color: gray;
  display: inline-block;
  font-weight: normal;
  margin: 20px 20px 20px 88px;
  width: 1000px;
}

.para {
  transform: translateY(-5px);
}

.youUnderline {
  display: inline;
  color: #04151d;
}

.podcastIconsText {
  transform: translateY(95px) translateX(-1055px);
  padding: 15px;
  background-color: salmon;
  color: #04151d;
  font-weight: bold;
  display: inline-block;
  font-weight: bold;
  margin: 20px 20px 5px 20px;
  width: 150px;
  text-align: justify;
  height: 30px;
  border-radius: 10px;
}
.podcastIconsText:hover {
  animation: textAnimate 0.9s ease-in 0.2s forwards;
  transform: translateY(95px) translateX(-1055px);
  justify-content: center;
  padding: 15px;
  background-color: salmon;
  color: #04151d;
  font-weight: bold;
  display: inline-block;
  font-weight: bold;
  margin: 20px 20px 5px 20px;
  width: 150px;
  text-align: justify;
  height: 30px;
  border-radius: 10px;
}

#text1 {
  transform: translateY(-8px);
}

/* underline */

.form2 {
  animation: form 0s;
  position: static;
  /* transform: translateY(210px) translateX(-450px); */
  width: 100vww;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  transform: translateY(150px);
}

@keyframes textAnimate {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.925;
  }
  50% {
    opacity: 0.95;
  }
  75% {
    opacity: 0.975;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */

/* Mobile */

@media (min-width: 320px) and (max-width: 1350px) {
  .wholePage {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .readersManual {
    padding: 15px;
    /* display: block; */
    display: none;
    font-weight: normal;
    margin: auto 20px auto 30px;
    width: 90%;
    text-align: left;
  }
  .para {
    padding: 15px;
    /* display: block; */
    display: none;
    font-weight: normal;
    margin: auto 20px auto 30px;
    width: 90%;
    text-align: left;
  }

  .form2 {
    display: block;
    transform: translateY(0px) translateX(-0px);
    text-align: center;
    width: 100vw;
    height: 38px;
    margin-bottom: 40px;
  }

  .form2.emailInput {
    margin-left: 20px;
  }

  .subButton2 {
    transition: 0.3s ease-in;
    margin: 10px 0 0 10px;
    position: static;
    transform: translateX(0) translateY(0);
    background-color: whitesmoke;
    width: 110px;
    height: 100%;
    z-index: 2;
    border-radius: 5px;
    border-style: dashed;
    border-color: blue;
    border-right-color: blue;
    border-left-color: blue;
    border-width: 1px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #04151d;
    font-weight: bold;
  }
  .subButton2 P {
    transition: ease-in;
    margin: auto;
  }

  .subButton2:hover {
    color: whitesmoke;
    background-color: #04151d;
    border-style: dashed;
  }

  .subButton2:hover p {
    font-weight: bold;
    color: whitesmoke;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

/* 

TODO media queries for other screens / breaking points

*/
