/* class styles */

.navBar {
  background-color: white;
}

.navItem {
  display: inline-block;
  margin: 50px 0px 20px 100px;
  color: #04151d;
}

.navItemClicked {
  border-bottom: #04151d;
  border-bottom: solid;
  padding: 0 0 2.5px 0;
}

.TwitterImage {
  float: right;
  margin: 50px 80px 0 20px;
  width: 40px;
  height: 30px;
  display: inline-block;
}

.TwitterImage:hover {
  animation: navImage1 0.5s ease-in 0.2s 1 forwards normal;
}

.GmailImage {
  float: right;
  margin: 50px 80px 0 20px;
  width: 40px;
  height: 30px;
  display: inline-block;
}

.GmailImage:hover {
  animation: navImage2 0.5s ease-in 0.2s 1 forwards normal;
}

/* ID styles */

#navItem1 {
  border-bottom: #04151d;
  border-bottom: solid;
  padding: 0 0 2.5px 0;
}

#link1 {
  color: #04151d;
  text-decoration: none;
}
#link2 {
  color: #04151d;
  text-decoration: none;
}

#navItem4 {
  display: none;
}

#navItem2:hover {
  animation: navItem1 0.5s ease-in 0.2s 1 forwards normal;
}

#navItem2:hover {
  animation: navItem2 0.5s ease-in 0.2s 1 forwards normal;
}

#navItem3:hover {
  animation: navItem2 0.5s ease-in 0.2s 1 forwards normal;
}

#navItem4:hover {
  animation: navItem2 0.5s ease-in 0.2s 1 forwards normal;
}

/* Keyframes */

@keyframes navItem1 {
  0% {
    border-bottom: whitesmoke solid;
    transform: translateX(0);
  }
  50% {
    border-bottom: #04151d solid;
    transform: translateX(0.2em);
  }
  70% {
    border-bottom: #04151d solid;
    transform: translateX(-0.1em);
  }
  100% {
    border-bottom: #04151d solid;
    transform: translateX(0em);
  }
}

@keyframes navItem2 {
  0% {
    border-bottom: whitesmoke solid;
    padding: 0 0 2.5px 0;
    transform: translateX(0);
  }
  50% {
    border-bottom: #04151d solid;
    padding: 0 0 2.5px 0;
    transform: translateX(0.2em);
  }
  70% {
    border-bottom: #04151d solid;
    padding: 0 0 2.5px 0;
    transform: translateX(-0.1em);
  }
  100% {
    border-bottom: #04151d solid;
    padding: 0 0 2.5px 0;
    transform: translateX(0);
  }
}

@keyframes navImage1 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes navImage2 {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* Media Queries */

/* Laptops */

/* Mobile */

@media (min-width: 320px) and (max-width: 750px) {
  .navBar {
    text-align: center;
  }

  .navItem {
    justify-content: center;
    margin: 50px 20px 20px 20px;
  }

  .TwitterImage {
    display: none;
  }

  .GmailImage {
    display: none;
  }
}

/* Other Screen */

@media (min-width: 750px) and (max-width: 1000px) {
  .TwitterImage {
    display: inline-block;
  }
  .GmailImage {
    display: none;
  }
}
