.post1 {
  background-color: white;
}

.title {
  display: block;
  width: 300px;
  margin: 80px 0px 5px 110px;
  color: #04151d;
  font-weight: bolder;
  background-color: white;
  border-bottom: solid #04151d;
}

p.date {
  color: gray;
  margin: 30px 0px 0px 110px;
  display: block;
  transform: translateX(0px);
}

.paragraphs {
  line-height: 30px;
  color: #04151d;
  margin: 0px 300px 0px 110px;
  transform: translateY(-20px);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .title {
  }
  .date {
  }
}
