.post1 {
  background-color: white;
  display: block;
  width: 100vw;
}

.title {
  display: inline-block;
  margin: 80px auto 5px auto;
  color: #04151d;
  font-weight: bolder;
  background-color: white;
  border-bottom: solid #04151d;
}

p.date {
  color: gray;
  margin: 30px 0px 0px 110px;
  display: block;
  transform: translateX(0px);
}

.paragraphs {
  text-align: justify;
  line-height: 30px;
  margin: 0px 300px 0px 110px;
  width: 80vw;
  transform: translateY(-20px);
  color: #04151d;
}

/* re-added these styles to make the page format the way I like delete originals!! */

.post1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title {
  display: inline-block;
  margin: auto auto;
  color: #04151d;
  font-weight: bolder;
  font-size: 32px;
  background-color: white;
  border-bottom: solid #04151d;
}
p.date {
  margin: 30px auto;
  display: inline-block;
  font-size: 22px;
}
.paragraphs {
  text-align: justify;
  line-height: 30px;
  color: #04151d;
  width: 80%;
  margin: auto auto 20px auto;
}

@media (min-width: 320px) and (max-width: 1550px) {
  .post1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .title {
    display: inline-block;
    margin: auto auto;
    color: #04151d;
    font-weight: bolder;
    font-size: 19px;
    background-color: white;
    border-bottom: solid #04151d;
  }
  p.date {
    margin: 30px auto;
    display: inline-block;
    font-size: 12px;
  }
  .paragraphs {
    text-align: justify;
    line-height: 30px;
    color: #04151d;
    width: 80%;
    margin: auto auto 20px auto;
  }
  .navImage1 {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1550px) {
  .title {
    font-size: 2.1vw;
  }
  p.date {
    margin: 30px auto;
    font-size: 1.3vw;
    display: inline-block;
  }
}
