.post1 {
  background-color: white;
}

.title {
  display: inline-block;
  margin: 80px 0px 5px 110px;
  color: #04151d;
  font-weight: bolder;
  background-color: white;
  border-bottom: solid #04151d;
}

p.date {
  color: gray;
  margin: 30px 0px 0px 110px;
  display: block;
  transform: translateX(0px);
}

.paragraphs {
  line-height: 30px;
  color: #04151d;
  margin: 0px 300px 0px 110px;
  transform: translateY(-20px);
}

@media (min-width: 320px) and (max-width: 850px) {
  .post1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .title {
    display: inline-block;
    margin: auto auto;
    color: #04151d;
    font-weight: bolder;
    font-size: 19px;
    background-color: white;
    border-bottom: solid #04151d;
  }
  p.date {
    margin: 30px auto;
    display: inline-block;
  }
  .paragraphs {
    text-align: justify;
    line-height: 30px;
    color: #04151d;
    width: 80%;
    margin: auto auto 20px auto;
  }
  .navImage1 {
    display: none;
  }
}
