/* Class Styles */

.readMore {
  transition: 0.3s ease-in 0.1s;
  color: salmon;
  background-color: #04151d;
  display: inline-block;
  margin: 50px 20px 0px 20px;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  cursor: pointer;
}

.readMore:hover {
  border-bottom: 1px solid salmon;
  padding-bottom: 3px;
}
.readMore2 {
  font-weight: bold;
  color: #04151d;
  background-color: salmon;
  display: inline-block;
  margin: 50px 20px 0px 20px;
}

.readMore2:hover {
  border-bottom: 1px solid salmon;
  padding-bottom: 3px;
}

.readMore3 {
  font-weight: bold;
  color: #04151d;
  background-color: salmon;
  display: inline-block;
  margin: 50px 20px 20px 20px;
}

.readMore3:hover {
  border-bottom: 1px solid salmon;
  padding-bottom: 3px;
}

/* Id Styles */

#readMore2 {
  margin: 20px 20px 0px 20px;
}

#writingBlock1 {
  line-height: 25px;
  opacity: 0.95;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  background-color: #04151d;
  display: inline-block;
  margin: 40px 20px 10px 120px;
  box-shadow: 0px 3px 3px #d3d3d3;
  position: absolute;
}

#writingBlock1:hover {
  animation: writingBlock 0.5s ease-in 0.2s forwards;
}

#writingBlock2 {
  line-height: 25px;
  position: absolute;
  opacity: 0.95;
  border-radius: 10px;
  height: 150px;
  width: 500px;
  background-color: #04151d;
  display: inline-block;
  margin: 95px 20px 10px 550px;
  box-shadow: 0px 3px 3px #d3d3d3;
}

#writingBlock2:hover {
  -webkit-animation: writingBlock 0.5s ease-in 0.2s forwards;
  animation: writingBlock 0.5s ease-in 0.2s forwards;
}
#writingBlock3 {
  line-height: 25px;
  position: absolute;
  opacity: 0.95;
  border-radius: 10px;
  height: 170px;
  width: 390px;
  background-color: #04151d;
  display: inline-block;
  margin: 280px 20px 10px 550px;
  box-shadow: 0px 3px 3px #d3d3d3;
}

#writingBlock3:hover {
  -webkit-animation: writingBlock 0.5s ease-in 0.2s forwards;
  animation: writingBlock 0.5s ease-in 0.2s forwards;
}
#writingBlock4 {
  line-height: 25px;
  position: absolute;
  opacity: 0.95;
  border-radius: 10px;
  height: 130px;
  width: 190px;
  background-color: salmon;
  display: inline-block;
  margin: 280px 20px 10px 970px;
  box-shadow: 0px 3px 3px #d3d3d3;
}

#writingBlock4:hover {
  animation: seeAllBlock 0.9s ease-in 0.2s forwards;
}

#post1 {
  color: whitesmoke;
  background-color: #04151d;
}

#writingBlock1 #post1 {
  background-color: #04151d;
  display: inline-flex;
  margin: 20px 0px 0px 20px;
}
#writingBlock1 #text1 {
  color: whitesmoke;
  background-color: #04151d;
  display: block;
  margin: 50px 20px 0px 20px;
}
#writingBlock2 #post1 {
  background-color: #04151d;
  display: block;
  margin: 20px 0px 0px 20px;
}
#writingBlock2 #text2 {
  color: whitesmoke;
  background-color: #04151d;
  display: block;
  margin: 20px 20px 0px 20px;
}
#writingBlock3 #post1 {
  background-color: #04151d;
  display: block;
  margin: 20px 0px 0px 20px;
}
#writingBlock3 #text3 {
  color: whitesmoke;
  background-color: #04151d;
  display: block;
  margin: 20px 20px 0px 20px;
}

#writingBlock5 {
  border-radius: 10px;
  border-color: blue;
  border-width: 0.8px;
  border-style: dashed;
  background-color: white;
  transform: translateY(350px);
  margin: 0 0 100px 120px;
  width: 397px;
  height: 98px;
  font-size: 12px;
}
#writingBlock5 p {
  font-weight: bold;
  margin: 20px 20px 5px 20px;
  width: 250px;
}

#reactImage {
  transform: translateX(245px) translateY(-87px);
  position: absolute;
  background-color: transparent;
  display: inline-block;
  width: 140px;
  height: 100px;
}
#reactImage:hover {
  transition: 3s ease-in;
  transform: translateX(245px) translateY(-87px) rotateZ(360deg);
  position: absolute;
  background-color: transparent;
  display: inline-block;
  width: 140px;
  height: 100px;
}

.spacer {
  display: none;
}

.Features {
  /* Display */
  display: block;
  width: 100vw;
  transform: translateY(350px);
  overflow: hidden;
  /* Border */
  border: blue dashed;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  border-width: 1px;
  /* Text */
  letter-spacing: 3px;
  font-weight: bold;
}

.Features p {
  /* Design */
  padding-top: 20px;
  padding-bottom: 30px;
  float: right;
  transform: translateX(600px);
  /* Text */
  color: #04151d;
  cursor: pointer;
  /* Animation */
  animation: Featured 10s ease-in 0.2;
  animation-iteration-count: infinite;
}

/* Key Frames */

@keyframes writingBlock {
  0% {
    box-shadow: 0px 3px 3px #d3d3d3;
    opacity: 0.95;
  }
  50% {
    box-shadow: 1px 4px 4.5px #d3d3d3;
    opacity: 0.95;
    transform: translateY(-5px);
  }
  100% {
    box-shadow: 2px 4.5px 7px #d3d3d3;
    opacity: 1;
    transform: translateY(-7px);
  }
}
@-webkit-keyframes writingBlock {
  0% {
    box-shadow: 0px 3px 3px #d3d3d3;
    opacity: 0.95;
  }
  50% {
    box-shadow: 1px 4px 4.5px #d3d3d3;
    opacity: 0.95;
    transform: translateY(-5px);
  }
  100% {
    box-shadow: 2px 4.5px 7px #d3d3d3;
    opacity: 1;
    transform: translateY(-7px);
  }
}
@keyframes seeAllBlock {
  0% {
    opacity: 0.9;
    transform: translateX(0px);
  }
  25% {
    opacity: 0.925;
    transform: translateX(10px);
  }
  50% {
    opacity: 0.95;
    transform: translateX(6px);
  }
  75% {
    opacity: 0.975;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes Featured {
  0% {
    transform: translateX(600);
  }
  100% {
    transform: translateX(-1420px);
  }
}

/* Media Queries */

/* Mobile */

@media (min-width: 320px) and (max-width: 850px) {
  .allWritingBlocks {
    height: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }

  #writingBlock1 {
    line-height: 25px;
    height: 370px;
    width: 340px;
    position: static;
    margin: 40px auto 10px auto;
  }
  #writingBlock1 #text1 {
    height: 40%;
    width: 90%;
    position: static;
    margin: 50px auto -30px auto;
  }
  #writingBlock2 {
    line-height: 25px;
    height: 220px;
    width: 340px;
    position: static;
    margin: 10px auto;
  }
  #writingBlock3 {
    line-height: 25px;
    height: 220px;
    width: 340px;
    position: static;
    margin: 10px auto;
  }
  #writingBlock4 {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: auto;
    height: 90px;
    width: 340px;
    position: static;
    margin: -19px auto;
  }
  #writingBlock4 p {
    margin: auto;
  }

  #writingBlock5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 340px;
    position: static;
    margin: -280px auto 100px auto;
  }
  #reactImage {
    position: static;
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
    background-color: transparent;
    width: 140px;
    height: 100px;
  }
  #writingBlock5 p {
    position: static;
    width: 160px;
    height: 80%;
    margin: auto;
  }
  #reactImage:hover {
    position: static;
    background-color: transparent;
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
    width: 140px;
    height: 100px;
  }
  .readMore2:hover {
    border-bottom: 0px solid salmon;
    padding-bottom: 0px;
  }

  #navImage1 {
    display: none;
  }
  .Features p {
    /* Design */
    padding-top: 20px;
    padding-bottom: 30px;
    float: right;
    transform: translateX(600px);
    /* Text */
    color: #04151d;
    cursor: pointer;
    /* Animation */
    animation: Featured 10s ease-in 0;
    animation-iteration-count: infinite;
  }
}

@media (min-width: 850px) and (max-width: 1350px) {
  .allWritingBlocks {
    height: 1000px;
    width: 100vw;
    display: block;
    position: static;
    margin-top: 0px;
    transform: translateY(-100px);
  }

  #writingBlock1 {
    line-height: 25px;
    height: 370px;
    width: 340px;
    position: static;
    margin: 40px 20px 0px 120px;
  }
  #writingBlock1 #text1 {
    height: 40%;
    width: 90%;
    position: static;
    margin: 50px auto -30px auto;
  }
  #writingBlock2 {
    line-height: 25px;
    height: 370px;
    width: 340px;
    position: static;
    margin: 40px auto 0px auto;
  }
  #writingBlock2 #text2 {
    height: 40%;
    width: 90%;
    position: static;
    margin: 50px auto 24px auto;
  }
  .readMore2 {
    font-weight: bold;
    color: #04151d;
    background-color: salmon;
    display: inline-block;
    margin: 50px 20px 0px 20px;
  }
  #writingBlock3 {
    line-height: 25px;
    height: 370px;
    width: 340px;
    position: static;
    margin: 20px 20px 10px 120px;
    display: inline-block;
  }
  #writingBlock3 #text3 {
    height: 40%;
    width: 90%;
    position: static;
    margin: 50px auto 24px auto;
  }
  #writingBlock4 {
    animation: none;
    line-height: 25px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: auto;
    height: 130px;
    width: 340px;
    position: static;
    margin: 0px auto 0px auto;
    transform: translateY(-265px);
  }
  #writingBlock4 p {
    margin: 20px 20px 50px 20px;
  }

  #writingBlock4:hover {
    animation: none;
  }

  #writingBlock5 {
    display: block;
    align-items: center;
    height: 210px;
    width: 340px;
    position: static;
    margin: -590px 480px 20px;
  }
  #reactImage {
    position: static;
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
    background-color: transparent;
    width: 140px;
    height: 100px;
    margin: -110px 0px 0px -20px;
  }
  #writingBlock5 p {
    font-size: 14px;
    line-height: 25px;
    position: static;
    width: 80%x;
    height: 80%;
    margin: 20px 20px 10px 20px;
  }
  #reactImage:hover {
    position: static;
    background-color: transparent;
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
    width: 140px;
    height: 100px;
  }
  .readMore2:hover {
    border-bottom: 0px solid salmon;
    padding-bottom: 0px;
  }

  #navImage1 {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  #writingBlock3 {
    line-height: 25px;
    height: 370px;
    width: 340px;
    position: static;
    margin: 40px 20px 0px 20px;
    display: inline-block;
  }
  #writingBlock4 {
    animation: none;
    line-height: 25px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 118px;
    margin-right: 10px;
    height: 170px;
    width: 180px;
    position: static;
    transform: translateY(-130px);
  }
  #writingBlock4 p {
    margin: 20px 20px 50px 20px;
  }

  #writingBlock4:hover {
    animation: none;
  }

  #writingBlock5 {
    display: inline-block;
    align-items: center;
    height: 170px;
    width: 440px;
    position: static;
    margin: 0px 0px 100px 10px;
    transform: translateY(11px);
  }
  #reactImage {
    position: static;
    background-color: transparent;
    width: 140px;
    height: 100px;
    margin: -110px 0px 0px -20px;
  }
  #writingBlock5 p {
    font-size: 14px;
    line-height: 25px;
    position: static;
    width: 90%;
    height: 80%;
    margin: 20px 20px 10px 20px;
  }
}
