html {
  overflow-x: hidden;
}

.ProjectsTextBlock {
  /* background-color: salmon; */
  margin-top: 60px;
  width: 100vw;
  height: 300px;
  display: block;
  justify-content: center;
  padding-top: 50px;
}

.ProjectsText {
  font-weight: bold;
  width: 20vw;
  text-align: center;
  color: #04151d;
  letter-spacing: 1px;
  display: block;
  padding: 20px;
  border: dashed blue;
  border-radius: 10px;
  border-style: dashed;
  border-width: 1px;
  margin: 40px auto 50px auto;
}

.GitHubApiBlock {
  display: flex;
  margin: 100px auto 20px auto;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 700px;
  text-align: center;
  color: #04151d;
  letter-spacing: 1px;
  padding: 20px;
  border-color: whitesmoke;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-style: solid;
  border-width: 1px;
}

.GitHubApiItem {
  margin: auto;
}

.Visit-Github-Block {
  display: inline-flex;
  margin: auto 5px 5px 30px;
  height: 40px;
  width: 100px;
  justify-content: center;
  background-color: #04151d;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.Visit-Github-Block:hover {
  animation: seeAllBlock 0.9s ease-in 0.2s;
}

.Visit-Github-Block-Text {
  margin-top: -20px;
  font-weight: bold;
  color: salmon;
}

.grid {
  width: 1000px;
  margin: 50px auto 250px auto;
}

.grid:hover {
}

.ProjectsItems {
  transition: 0.3s ease-in;
  opacity: 0.95;
  display: inline-block;
  margin: 22px 10px 20px 27px;
  height: 250px;
  width: 285px;
  background-color: #04151d;
  border: solid salmon;
  border-radius: 10px;
}
.ProjectsItems:hover {
  opacity: 1;
  display: inline-block;
  margin: 22px 10px 20px 27px;
  height: 250px;
  width: 285px;
  background-color: #04151d;
  border: solid salmon;
  border-radius: 10px;
  transform: scale(1.1) rotateZ(90deg);
}

.ProjectsItems h2 {
  transition: 0.3s ease-in;
  margin: 20px;
  font-size: 14px;
  transition: 0.3s ease-in;
  color: whitesmoke;
  width: 200px;
  height: 300px;
  height: 20px;
  opacity: 1;
}
.ProjectsItems:hover h2 {
  opacity: 0;
}
.ProjectsItems:hover h3 {
  opacity: 0;
}

.ProjectsItems p {
  transition: 0.3s ease-in;
  font-size: 12px;
  transform: translateY(50px) translateX(-30px) rotateZ(-90deg);
  transition: 0.3s ease-in;
  color: whitesmoke;
  width: 200px;
  height: 300px;
  height: 20px;
  opacity: 0;
}

.ComingSoonText {
  font-size: 30px;
  text-align: center;
  margin: auto;
  display: block;
}

.date {
  transition: 0.3s ease-in;
  color: gray;
  font-size: 12px;
  display: inline-block;
  margin: 100px 20px 10px 25px;
  transform: translateY(-10px);
}

.ProjectsItems:hover p {
  opacity: 1;
}

p.Read {
  transform: translateY(18px) translateX(160px) rotateZ(-90deg);
  color: salmon;
  font-weight: bold;
}

.TechStack {
  overflow: hidden;
  display: block;
  margin: 50px auto;
  width: 940px;
  height: 200px;
  border: dashed blue;
  border-width: 1px;
  border-radius: 10px;
}

.TechStack p {
  font-weight: bold;
  letter-spacing: 1px;
  color: #04151d;
  margin: 20px;
}

.TechButtons {
  overflow: hidden;
  opacity: 0.9;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 40px;
  background-color: #04151d;
  border-color: salmon;
  border: solid;
  border-width: 1.5px;
  border-radius: 10px;
}
.TechButtons:hover {
  transition: 0.3s ease-in 0.1s;
  opacity: 1;
  transform: scale(1.1);
}
#TechButton1 {
  margin: 5px 5px 5px 20px;
}
#TechButton1 a {
  display: inline-block;
  color: whitesmoke;
  font-size: 10px;
  text-align: center;
  transform: translateY(8px);
}

.TechButtons a {
  margin: auto;
  width: 20px;
  display: inline-block;
  color: whitesmoke;
  font-size: 10px;
  margin: 0px 5px 0px 5px;
  transform: translateY(8px);
}

.TechLogos {
  display: inline-block;
  width: 35px;
  height: 25px;
  transform: translateY(8px) translateX(33px);
}

#Node {
  width: 25px;
}

#MongoDB {
  width: 55px;
  height: 40px;
  transform: translateY(1px) translateX(24px);
}

#MongoText {
  transform: translateY(-15px) translateX(5px);
}

#stripe {
  height: 20px;
  transform: translateX(21px) translateY(9px);
}

#Auth0 {
  height: 35px;
  transform: translateX(28px);
  display: inline-block;
  margin-top: 4px;
}

#TechButton1 #text1 {
  transform: translateY(-1.1px);
}

#text1 {
  transform: translateY(-1.1px);
}

#auth0 {
  transform: translateY(-15.1px);
}

#stripe1 {
  transform: translateY(4px);
}

#text2 {
  transform: translateY(8px);
}

#TechButton12 {
  margin: 30px 5px 5px 20px;
}

.form3 {
  animation: form 0s;
  transform: translateY(180px) translateX(-530px);
  margin-bottom: 50px;
}

/* Keyframes */

@keyframes seeAllBlock {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(10px);
  }
  50% {
    opacity: 1;
    transform: translateX(6px);
  }
  75% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Media Queries */

/* Mobile */

@media (min-width: 320px) and (max-width: 750px) {
  html {
    overflow-x: hidden;
  }

  .WholePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Projects Grid Styling */

  .ProjectsTextBlock {
    width: 100vw;
    display: block;
    font-size: 12px;
    justify-content: center;
    text-align: center;
  }

  .ProjectsText {
    margin: auto;
    display: inline;
    transform: translateX(0px) translateY(0px);
  }

  .GitHubApiBlock {
    display: inline-block;
    margin: 100px auto 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
    text-align: center;
    color: #04151d;
    letter-spacing: 1px;
    padding: 20px;
    border-color: whitesmoke;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-style: solid;
    border-width: 1px;
  }

  .Visit-Github-Block:hover {
    animation: none;
  }

  .GitHubApiItem {
    display: inline-block;
    margin-right: 30px;
  }

  #Github-Following-Item {
    display: none;
  }

  .Visit-Github-Block {
    display: none;
  }
  .grid {
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
  }

  .ProjectsItems {
    transition: 0.4s ease-in;
    opacity: 0.95;
    display: block;
    margin: 0px auto 30px auto;
    height: 230px;
    width: 285px;
    background-color: #04151d;
    border: solid salmon;
    border-radius: 10px;
  }
  .date {
    transition: 0.3s ease-in;
    color: gray;
    font-size: 12px;
    display: inline-block;
    margin: 100px 20px 10px 25px;
    transform: translateY(-30px);
  }

  /* End of Projects Grid styling */

  /* Tech stack styling */

  .TechStack {
    display: none;
  }

  /* hover effects */

  .ProjectsItems:hover {
    opacity: 1;
    display: block;
    margin: 50px auto 50px auto;
    height: 250px;
    width: 285px;
    background-color: #04151d;
    border: solid salmon;
    border-radius: 10px;
    transform: scale(1.1) rotateZ(90deg);
  }

  .form3 {
    display: block;
    transform: translateY(0px) translateX(-0px);
    text-align: center;
    width: 100vw;
    height: 38px;
    margin-bottom: 40px;
  }
}

/* if having issues, just delete block below!! */

@media (min-width: 750px) and (max-width: 950px) {
  .grid {
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 20px;
    display: inline-block;
  }

  .ProjectsItems {
    display: inline-block;
    margin: 15px 5px;
    height: 230px;
    width: 285px;
    transition: 0.4s ease-in;
    opacity: 0.95;
    background-color: #04151d;
    border: solid salmon;
    border-radius: 10px;
  }
  .date {
    transition: 0.3s ease-in;
    color: gray;
    font-size: 12px;
    display: inline-block;
    margin: 100px 20px 10px 25px;
    transform: translateY(-30px);
  }
  .ProjectsItems {
    transition: 0.3s ease-in;
    opacity: 0.95;
    display: inline-block;
    margin: 22px 10px 20px 27px;
    height: 250px;
    width: 285px;
    background-color: #04151d;
    border: solid salmon;
    border-radius: 10px;
  }
  .ProjectsItems:hover {
    opacity: 1;
    display: inline-block;
    margin: 22px 10px 20px 27px;
    height: 250px;
    width: 285px;
    background-color: #04151d;
    border: solid salmon;
    border-radius: 10px;
    transform: scale(1.1) rotateZ(90deg);
  }
  .TechStack {
    display: none;
  }
  .form3 {
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    transform: translateY(0px) translateX(-0px);
    text-align: center;
    width: 100vw;
    height: 38px;
  }
}

@media (min-width: 750px) and (max-width: 1250px) {
  .form3 {
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0px) translateX(-0px);
    text-align: center;
    width: 100vw;
    height: 38px;
  }
}

/* Laptop */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .ProjectsTextBlock {
    display: block;
    font-size: 12px;
    justify-content: center;
    text-align: center;
  }

  .ProjectsText {
    margin: auto;
    display: inline;
    transform: translateX(0px) translateY(0px);
  }
  .date {
    border: transparent;
  }
}
