/* class styles */

/* 

TODO: add a color gradient to my grey block: linear-gradient(45deg,#e9e4f0,#d3cce3)

*/

.AlexImage1 {
  width: 250px;
  display: inline-block;
  margin: 160px 0px 20px 60px;
  position: sticky;
  z-index: 2;
}

.textIntro {
  color: gray;
  display: inline-block;
  transform: translateX(100px) translateY(30px);
  width: 800.85px;
  height: 500px;
  background: #eceff1;
  /*  linear-gradient(45deg,#e9e4f0,#d3cce3) */
  border-radius: 69px;
  clip-path: inset(20% at 40%);
  z-index: 3;
}

.textIntroCircle {
  position: absolute;
  transform: translateY(150px) translateX(-100px);
  display: inline-block;
  background-color: white;
  width: 300.85px;
  height: 300px;
  border-radius: 100%;
  z-index: 1;
}

.textIntro p {
  font-size: 14px;
  display: inline-block;
  color: gray;
  background-color: #eceff1;
  font-weight: bold;
  margin: 30px 30px 30px 150px;
  transform: translateY(40px);
}

.textIntro p a {
  transition: 0.1s ease-in 0.1s;
  opacity: 0.95;
}

.textIntro p a:hover {
  opacity: 1;
}

.textIntro .textDescription {
  color: gray;
  font-size: 14px;
}

.textIntro p a {
  color: #04151d;
  text-decoration: none;
  padding-bottom: 5px;
  background-color: #eceff1;
  border: solid;
  border-color: #04151d;
  border-top: blue;
  border-left: blue;
  border-right: blue;
}

.AlexHomeImageDiv {
  margin: 50px 0 100px 0;
}

.subButton {
  letter-spacing: 1px;
  color: #04151d;
  font-weight: bold;
  position: absolute;
  width: 120px;
  height: 50px;
  transform: translateX(885px) translateY(-162px);
  border-radius: 5px;
  border-style: dashed;
  border-color: blue;
  border-right-color: blue;
  border-left-color: blue;
  border-width: 1px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.emailInput {
  padding-left: 10px;
  outline: none;
  position: absolute;
  width: 300px;
  height: 45px;
  transform: translateX(560px) translateY(-161px);
  border-radius: 5px;
  border-style: solid;
  border-color: blue;
  border-right-color: blue;
  border-left-color: blue;
  border-width: 1px;
}
.subButton p {
  font-weight: bold;
  letter-spacing: 1px;
  background-color: transparent;
  color: #04151d;
  transition: 0.3s ease-in;
}

.subButton:hover {
  color: whitesmoke;
  background-color: #04151d;
  border-style: dashed;
}

.subButton:hover p {
  font-weight: bold;
  color: whitesmoke;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 1px;
}

.underline {
  overflow: visible;
  display: block;
  margin: 50px 50px 50px 50px;
}

/* ID styles */

#helloWorldText {
  animation: paragraph1 2s ease-in 0.2s 1 normal;
  color: #04151d;
  font-size: 18px;
}

#paragraph1 {
  animation: paragraph2 2s ease-in 0.2s 1 normal;
}
#paragraph2 {
  animation: paragraph2 2.2s ease-in 0.2s 1 normal;
}
#paragraph3 {
  animation: paragraph2 2.5s ease-in 0.2s 1 normal;
}

#emailInput1 {
  animation: paragraph2 2.8s ease-in 0.2s 1 normal;
}
#subButton1 {
  animation: paragraph2 2s ease-in 0.2s 1 normal;
}

#colorBlock1 {
  background-color: blue;
  height: 15px;
  width: 15px;
  position: absolute;
  transform: translateX(1150px) translateY(-475px);
  display: none;
}

#colorBlock2 {
  background-color: salmon;
  height: 15px;
  width: 15px;
  position: absolute;
  transform: translateX(1160px) translateY(-480px);
  display: none;
}

/* Key Frames */

/* Media Queries */

/* Mobile */

@media (min-width: 320px) and (max-width: 1100px) {
  .AlexHomeImageDiv {
    align-items: center;
    align-content: center;
  }

  .AlexImage1 {
    display: block;
    margin: auto;
    width: 200px;
  }
  .row1.textIntro {
    justify-content: center;
    margin: 30px 0px;
  }
  .textIntro {
    transform: translateX(0px) translateY(0px);
    margin: 50px auto 0px auto;
    display: inherit;
    width: 350.85px; /*50*/
    height: 450px;
    text-align: center;
    background-color: #eceff1;
    border-radius: 69px;
  }
  .textIntro p {
    font-size: 11px;
    line-height: 25px;
    width: 90%;
    font-size: 14px;
    display: inline-block;
    color: gray;
    background-color: #eceff1;
    font-weight: bold;
    margin: 15px auto;
  }
  .textIntroCircle {
    display: none;
  }

  #colorBlock1 {
    background-color: blue;
    height: 15px;
    width: 15px;
    margin: -535px 0px 0px 310px;
    position: absolute;
    transform: translateX(0px) translateY(0px);
  }

  #colorBlock2 {
    background-color: salmon;
    height: 15px;
    width: 15px;
    margin: -540px 0px 0px 320px;
    position: absolute;
    transform: translateX(0px) translateY(0px);
  }

  .formDiv {
    display: block;
    text-align: center;
    width: 80%;
  }

  .formtest {
    width: 100vw;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .subButton {
    margin: 0 0 0 10px;
    position: static;
    transform: translateX(0) translateY(0);
    background-color: whitesmoke;
    width: 110px;
    height: 100%;
    z-index: 2;
  }
  .subButton P {
    margin: auto;
  }

  .emailInput {
    padding-left: 10px;
    margin: 0.1px 0 0 0;
    position: static;
    width: 200px;
    height: 92%;
    transform: translateX(0) translateY(0);
    z-index: 1;
  }

  .underline {
    overflow: hidden;
  }
}

/* General Screen Breaking Points */

@media (min-width: 1000px) and (max-width: 1350px) {
  /* AlexImage1 in process -- complete */

  .AlexHomeImageDiv {
    margin-bottom: 0px;
    /* background-color: chartreuse; */
  }

  .AlexImage1 {
    display: inline-block;
    position: static;
    margin: auto;
    width: 220px;
    margin: 160px 0px 20px 60px;
    position: sticky;
    z-index: 2;
  }
  .row1.textIntro {
    justify-content: center;
    margin: 30px 0px;
  }

  /* in process */

  .textIntro {
    transform: translateX(0px) translateY(0px);
    margin: 50px auto 0px auto;
    display: inline-block;
    width: 60vw; /*50*/
    height: 450px;
    text-align: left;
    background-color: #eceff1;
    border-radius: 69px;
    position: static;
  }
  .textIntro p {
    font-size: 11px;
    text-align: left;
    line-height: 25px;
    width: 70%;
    font-size: 14px;
    display: inline-block;
    color: gray;
    background-color: #eceff1;
    font-weight: bold;
    margin: 15px 0px 10px 50px;
  }
  .textIntroCircle {
    display: inline-block;
    transform: translateY(130px) translateX(-220px);
  }

  #colorBlock1 {
    background-color: blue;
    height: 15px;
    width: 15px;
    margin: -535px 0px 0px 310px;
    position: absolute;
    transform: translateX(0px) translateY(0px);
  }

  #colorBlock2 {
    background-color: salmon;
    height: 15px;
    width: 15px;
    margin: -540px 0px 0px 320px;
    position: absolute;
    transform: translateX(0px) translateY(0px);
  }

  .formDiv {
    display: inline-block;
    text-align: center;
    width: 100%;
    /* background-color: chartreuse; */
    position: absolute;
    transform: translateY(-140px);
  }

  .formtest {
    width: 100vw;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    text-align: left;
  }

  .subButton {
    margin: 0 0 0 10px;
    position: static;
    transform: translateX(0) translateY(0);
    background-color: whitesmoke;
    width: 110px;
    height: 100%;
    z-index: 2;
  }
  .subButton P {
    margin: auto;
  }

  .emailInput {
    padding-left: 10px;
    margin: 0.1px 0 0 0;
    position: static;
    width: 200px;
    height: 92%;
    transform: translateX(0) translateY(0);
    z-index: 1;
  }

  .underline {
    overflow: hidden;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .textIntro {
    transform: translateX(0px) translateY(-10px);
    margin: 50px auto;
    display: inline-block;
    width: 60vw; /*50*/
    height: 450px;
    text-align: center;
    background-color: #eceff1;
    border-radius: 69px;
    position: static;
  }
  .formtest {
    width: 100vw;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    text-align: left;
  }

  .emailInput {
    padding-left: 10px;
    margin: 0.1px 0 0 0;
    position: static;
    width: 200px;
    height: 92%;
    transform: translateX(0) translateY(0);
    z-index: 1;
  }
}
@media (min-width: 1100px) and (max-width: 1350px) {
  .textIntro {
    transform: translateX(0px) translateY(-10px);
    margin: 50px auto;
    display: inline-block;
    width: 60vw; /*50*/
    height: 450px;
    text-align: center;
    background-color: #eceff1;
    border-radius: 69px;
    position: static;
  }
  .formtest {
    width: 100vw;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    text-align: left;
  }

  .emailInput {
    padding-left: 10px;
    margin: 0.1px 0 0 0;
    position: static;
    width: 200px;
    height: 92%;
    transform: translateX(0) translateY(0);
    z-index: 1;
  }
}
